<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Onvif.Core" version="2.2.2" targetFramework="net472" />
  <package id="PDFsharp" version="1.51.5185-beta" targetFramework="net472" />
  <package id="PDFsharp-gdi" version="1.51.5185-beta" targetFramework="net472" />
  <package id="Rssdp" version="4.0.4" targetFramework="net472" />
  <package id="StereoKit" version="0.3.6" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.116.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.ServiceModel.Duplex" version="4.5.3" targetFramework="net472" />
  <package id="System.ServiceModel.Http" version="4.5.3" targetFramework="net472" />
  <package id="System.ServiceModel.NetTcp" version="4.5.3" targetFramework="net472" />
  <package id="System.ServiceModel.Primitives" version="4.5.3" targetFramework="net472" />
  <package id="System.ServiceModel.Security" version="4.5.3" targetFramework="net472" />
</packages>