<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="TIMSCentralServer.TIMSCentralServerModel">
                <endpoint address="http://localhost:80/data" binding="basicHttpBinding"
                    bindingConfiguration="" contract="TIMSCentralServer.ITIMSCentralServerModel" />
            </service>
        </services>
    </system.serviceModel>
</configuration>