<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="c:\users\blake\source\repos\dcogburn98\tims\timsserver\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="c:\users\blake\source\repos\dcogburn98\tims\timsserver\app_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
      <diagnostics performanceCounters="Default">
        <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
      </diagnostics>
      <services>
        
        <service name="TIMSServer.TIMSServiceModel">
          <endpoint address="http://localhost:9999/endpoint" binding="basicHttpBinding"
            bindingConfiguration="CustomBinding" name="TIMSServerEndpoint"
            contract="TIMSServerModel.ITIMSServiceModel" />
        </service>
        
        <service name="DownstreamServiceModel">
          <endpoint address="http://localhost:9988/Downstream" binding="basicHttpBinding"
            bindingConfiguration="CustomBinding" name="DownstreamService"
            contract="TIMSServerModel.ITIMSDownstreamServiceModel" />
        </service>

        <service name="TIMSServer.TIMSWebServerModel" behaviorConfiguration="web">
          <endpoint address="" binding="customBinding"
            bindingConfiguration="RawReceiveCapableForHttp" behaviorConfiguration="webHttp"
            contract="TIMSServerModel.ITIMSWebServerModel">
            <identity>
              <dns value="localhost" />
            </identity>
          </endpoint>
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost/" />
            </baseAddresses>
          </host>
        </service >
        
      </services>

      <behaviors>
        <serviceBehaviors>
          <behavior name="web">
            <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
            <serviceDebug includeExceptionDetailInFaults="false" httpsHelpPageEnabled="false" 
                          httpHelpPageEnabled="false" httpHelpPageUrl="index.html"/>
          </behavior>
        </serviceBehaviors>
        <endpointBehaviors>
          <behavior name="webHttp">
            <webHttp helpEnabled="true" automaticFormatSelectionEnabled="false"/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      
      <bindings>
        <basicHttpBinding>
          <binding name="CustomBinding" maxBufferPoolSize="268435456" maxBufferSize="268435456"
            maxReceivedMessageSize="268435456" />
        </basicHttpBinding>
        <customBinding>
            <binding name="RawReceiveCapableForHttp">
              <webMessageEncoding webContentTypeMapperType="TIMSServer.RawContentTypeMapper, TIMSServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
              <httpTransport manualAddressing="true" maxReceivedMessageSize="524288000" transferMode="Streamed"/>
            </binding>
        </customBinding>
      </bindings>
      
    </system.serviceModel>
</configuration>
