<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <system.serviceModel>
      <services>
          <service name="TIMSServer.TIMSServiceModel">
              <endpoint address="http://localhost:9999/endpoint" binding="basicHttpBinding"
                  bindingConfiguration="CustomBinding" name="TIMSServerEndpoint" contract="TIMSServerModel.ITIMSServiceModel" />
          </service>
      </services>
      <bindings>
        <basicHttpBinding>
          <binding name="CustomBinding" maxBufferPoolSize="268435456" maxBufferSize="268435456"
            maxReceivedMessageSize="268435456" />
        </basicHttpBinding>
      </bindings>
    </system.serviceModel>
</configuration>
