<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <system.serviceModel>
        <services>
            <service name="TIMSServer.TIMSServiceModel">
                <endpoint address="http://localhost:9999/endpoint" binding="basicHttpBinding"
                    bindingConfiguration="" name="TIMSServerEndpoint" contract="TIMSServerModel.ITIMSServiceModel" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
